<div th:each="product : ${products}">
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4">Product Details</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span th:text="'Name: '+${product.name}">Name</span></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span th:text="'Type: '+${product.type}">Type</span></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span th:text="'Description: '+${product.description}">Description</span></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span th:text="'Price: '+${product.price}">Price</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>